<link rel="stylesheet" href="/public/css/sale.css">
<aside class="sidebar">
    <div class="logo-section">
        <h1 class="logo">Valeu</h1>
        <p class="slogan">Sua preferência<br>é a nossa maior<br>motivação.</p>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li class="active">
                <a href="./paymentterms.html">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Pagamentos</span>
                </a>
            </li>

            <li>
                <a href="./listpaymentterms.html">
                    <i class="fas fa-box"></i>
                    <span>Lista de Pagamentos</span>
                </a>
            </li>

            <li>
                <a href="./sale.html">
                    <i class="fas fa-box"></i>
                    <span>Produtos</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-chart-line"></i>
                    <span>Relatórios</span>
                </a>
            </li>
        </ul>
    </nav>


    <div class="sidebar-image">
    </div>

    <div class="sidebar-footer">
        <div class="footer-logo">
            <i class="fas fa-handshake"></i>
            <span>GROUP</span>
        </div>
    </div>
</aside>