{% extends "main.html" %}

{% block main %}
	<div class="app-content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<h3 class="mb-0">{{titulo}}</h3>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-end">
						<li class="breadcrumb-item" aria-current="page">
							<a href="/home">Início</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Pesquisa de empresa</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<a href="/empresa/cadastro" class="btn btn-success">Cadastrar</a>
							<a href="/empresa/print" target="_blank" class="btn btn-info">Imprimir</a>
						</div>
						<div class="card-body">
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Código</th>
										<th>Nome</th>
										<th>CNPJ</th>
										<th>Email</th>
										<th>Telefone</th>
										<th>Ação</th>
									</tr>
								</thead>
								<tbody>
									{% for e in empresas %}
										<tr>
											<td>{{ e.id }}</td>
											<td>{{ e.nome }}</td>
											<td>{{ e.cnpj }}</td>
											<td>{{ e.email }}</td>
											<td>{{ e.telefone }}</td>
											<td>
												<a href="/empresa/alterar/{{ e.id }}" class="btn btn-warning">Alterar</a>
												<button onclick="Deletar('{{ e.id }}')" type="button" class="btn btn-danger">Excluir</button>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	{% include 'script.html' %}
	<script src="/js/listcompany.js"></script>
{% endblock %}
