<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listpaymentterms</title>
    <link rel="stylesheet" href="/public/css/paymentterms.css"> 
</head>

<body>
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">Lista de Pagamentos</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item" aria-current="page"><a href="./sale.html">Início</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pesquisa de Produto</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="./produto.html" class="btn btn-success">Cadastrar</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Id do Fornecedor</th>
                                        <th>Código de barras</th>
                                        <th>Condição do pagamento</th>
                                        <th>Nome do Produto</th>
                                        <th>Descrição curta</th>
                                        <th>Descrição</th>
                                        <th>Preço custo</th>
                                        <th>Preço venda</th>
                                        <th>Ativo</th>
                                        <th>Atualizado em</th>
                                        <th>Cadastrado em</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- JS irá preencher aqui -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src=""></script>
</body>

</html>