{% extends "main.html" %}
{% block main %}
<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">{{titulo}}</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item" aria-current="page"><a href="/home">Início</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/pagamento/lista">Pesquisa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{titulo}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <form id="form" method="POST">
                <input type="hidden" name="acao" id="acao" value="{{acao}}">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="/pagamento/lista" class="btn btn-warning">Voltar</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="codigo" name="codigo" required>
                                            <option selected value="">Selecione uma condição de pagamento</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='01' %} selected {% endif %} value="01">Dinheiro: Pagamento em espécie</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='02' %}selected{% endif %} value="02">Cheque: Pagamento em cheque</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='03' %}selected{% endif %} value="03">Cartão de Crédito</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='04' %}selected{% endif %} value="04">Cartão de Débito</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='15' %}selected{% endif %} value="15">Boleto Bancário</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='17' %}selected{% endif %} value="17">PIX</option>
                                            <option {% if paymentTerms and paymentTerms.codigo=='99' %}selected{% endif %} value="99">Outros</option>
                                        </select>
                                        <label for="codigo">Código de Pagamento</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Dinheiro" value="{% if paymentTerms %}{{ paymentTerms.titulo }}{% endif %}" required>
                                        <label for="titulo">Título/Descrição</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="atalho" name="atalho" placeholder="F6" value="{% if paymentTerms %}{{ paymentTerms.atalho }}{% endif %}">
                                        <label for="atalho">Atalho (teclado)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% include 'script.html' %}
<script src="/js/paymentterms.js"></script>
{% endblock %}
