<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

    <link href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/3.0.7/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/staterestore/1.4.3/css/stateRestore.bootstrap5.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">{{titulo}}</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item" aria-current="page"><a href="/home">Início</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="/usuario/lista">Pesquisa de usuário</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Cadastro e edição</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form id="formCadastro">
                        <input type="hidden" id="acao" name="acao" value="{{acao}}">
                        <input type="hidden" id="id" name="id" value="{{id}}">
                        <div class="card">
                            <div class="card-header">
                                <a href="/usuario/lista" class="btn btn-warning">Voltar</a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="nome" class="form-label">Nome</label>
                                        <input type="text" class="form-control" id="nome" name="nome"
                                            placeholder="Informe seu nome" value="{{user.nome}}" autofocus>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="sobrenome" class="form-label">Sobrenome</label>
                                        <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                                            placeholder="Informe seu sobrenome" value="{{user.sobrenome}}" autofocus>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="cpfcnpj" class="form-label">CPFCNPJ</label>
                                        <input type="text" class="form-control" id="cpfcnpj" name="cpfcnpj"
                                            placeholder="Informe seu cpj/cnpj" value="{{user.cpfcnpj}}" autofocus>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="rg" class="form-label">RG</label>
                                        <input type="text" class="form-control" id="rg" name="rg"
                                            placeholder="Informe seu rg" value="{{user.rg}}" autofocus>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                            placeholder="Informe seu email" value="{{user.email}}" autofocus>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="senha" class="form-label">Senha</label>
                                        <input type="text" class="form-control" id="senha" name="senha"
                                            placeholder="Informe sua senha" value="{{user.senha}}" autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" id="cadastraruser" class="btn btn-success">Cadastrar
                                    usuário</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/additional-methods.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/localization/messages_pt_BR.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.7/js/responsive.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/staterestore/1.4.3/js/dataTables.stateRestore.min.js"></script>
    <script src="https://cdn.datatables.net/staterestore/1.4.3/js/stateRestore.bootstrap5.min.js"></script>
    <script defer type="module" src="/js/user.js"></script>
</body>

</html>